## Observations and Insights

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

# Merge the two DataFrames together based on the Dates they share
all_mice_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
#all_mice_data.head()

In [45]:
#mouse_metadata.head()   # Shows you the mouse_metadata original columns pre merge

In [44]:
#study_results.head() # Shows you the study_results original columns pre merge

In [31]:
all_mice_data=pd.DataFrame(all_mice_data)
all_mice_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [ ]:
#Remember, there are many ways to approach a data problem. The key is to break up your task into micro tasks. 
#Try answering questions like:

#How does my DataFrame need to be structured for me to have the right _x_-axis and _y_-axis?

#How do I build a basic scatter plot?

#How do I add a label to that scatter plot?

#Where would the labels for that scatter plot come from?

In [34]:
#all_mice_data.columns #show the names of the current columns

In [21]:
# Checking the number of mice. 
mice_count=len(all_mice_data["Mouse ID"].unique())
mice_count

249

In [27]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# Check the data for any mouse ID with duplicate Timepoint

duplicates= all_mice_data.duplicated(subset=(['Mouse ID', 'Timepoint']))
#duplicates= all_mice_data.duplicated(subset=(['Mouse ID']))
#duplicats.loc[True]
#duplicates.head() Will show False 
all_mice_data.loc[duplicates, 'Mouse ID']
#duplicates.count()

909    g989
911    g989
913    g989
915    g989
917    g989
Name: Mouse ID, dtype: object

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [35]:
#by default it removes duplicate rows based on all columns
#to remove duplicates on specific column(s), use subset
#to remove duplicates and keep last occurences, use keep
#df = pd.DataFrame({
#    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
#    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
#     'rating': [4, 4, 3.5, 15, 5]
#})
#df

In [37]:
#To remove duplicates and keep last occurrences, use keep.
#df.drop_duplicates(subset=['brand', 'style'], keep='last')

#df.drop_duplicates(subset=['brand'])

In [70]:
#all_mice_data.dtypes

In [71]:
dup_mice=all_mice_data.sort_values(by=['Mouse ID', 'Timepoint'])
dup_mice.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
454,a203,Infubinol,Female,20,23,0,45.000000,0
455,a203,Infubinol,Female,20,23,5,48.508468,0
456,a203,Infubinol,Female,20,23,10,51.852437,1
457,a203,Infubinol,Female,20,23,15,52.777870,1
458,a203,Infubinol,Female,20,23,20,55.173336,1

In [72]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
#PortlandCrime Solved  also #Cleaning Data 04-Pandas/2/Activities/03-Ins_CleaningData/Solved/CleaningData.ipynb
clean_mice=df.drop_dup_mice(subset= ['Mouse ID', keep ="last"])
clean_mice
#clean_mice_data=df.drop_duplicates(subset=['Mouse ID', keep='False')
#clean_mice_data

SyntaxError: invalid syntax (<ipython-input-72-f0de23f957b6>, line 3)

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [ ]:
#Delta Degrees of Freedom: int, default 1 
# start with the variance, this means you take negative values and make them absolute, in either direction it becomes a positive occurance
# standard deviation is a measure of distance, it doesn't care about the direction. The variance will remove the negatives so you can find standard deviation

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

#mean_numpy= np.mean(some variable)
#print(f" The mean _____ is {mean_numpy}")

#median_numpy =.np.mediean(some variable)
#print(f" The median _____ is {mean_numpy}")

#var_numpy =np.var(some_variable, ddof=0)
#degrees of freed
#print(f" The mice variance using the NumPy modules is {var_numpy}")

#sd_numpy = np.std(temperatures,ddof = 0)
#print(f"The ____ standard deviation using the NumPy module is {sd_numpy}")

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 

# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen